<header class="hdr">
  <div class="hdr-logo">
    <% if (logoUri) { %>
    <img src="<%= logoUri %>" alt="<%= company.name %>">
    <% } else { %>
    <span>MIRK</span>
    <% } %>
  </div>
  <div class="hdr-center">
    <div class="hdr-company"><%= company.name %></div>
  </div>
  <div class="hdr-right">
    <div class="hdr-phone"><%= company.phone %></div>
    <div class="hdr-detail">
      <%= company.address %>
      <% if (company.city) { %> <span class="hdr-sep">&bull;</span> <%= company.city %><% } %>
      <% if (company.fax) { %> <span class="hdr-sep">&bull;</span> Fax: <%= company.fax %><% } %>
    </div>
    <div class="hdr-detail">
      <% if (company.website) { %><a class="hdr-link" href="https://<%= company.website %>"><%= company.website %></a><% } %>
      <% if (company.email) { %> <span class="hdr-sep">&bull;</span> <a class="hdr-link" href="mailto:<%= company.email %>"><%= company.email %></a><% } %>
    </div>
  </div>
</header>
<div class="tagline"><span><%= company.tagline %></span></div>
